<footer>
    <div class="f-info text-center d-flex flex-column align-items-center justify-content-center bg-light py-3 border-top mt-auto">
        <div class="f-info-socials mb-2 fs-5">
            <i class="fa-brands fa-square-facebook mx-2 hover-opacity-75"></i>
            <i class="fa-brands fa-square-instagram mx-2 hover-opacity-75"></i>
            <i class="fa-brands fa-linkedin mx-2 hover-opacity-75"></i>
        </div>
        <div class="f-info-brand mb-2">&copy; <%= new Date().getFullYear() %> Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="text-decoration-none text-dark me-3 hover-underline">Privacy</a>
            <a href="/terms" class="text-decoration-none text-dark hover-underline">Terms</a>
        </div>
    </div>
</footer>